<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProxyCacheService"
			maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/WebProxyService/ProxyCacheService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyCacheService"
        contract="WebProxy.IProxyCacheService" name="BasicHttpBinding_IProxyCacheService" />
    </client>
    <services>
    <service name="RoutingWithBikesHost.RoutingService">
        <endpoint address="" binding="basicHttpBinding" contract="RoutingWithBikesHost.IRoutingService" > 
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
		<endpoint address="rest" behaviorConfiguration="webHttp" binding="webHttpBinding" contract="RoutingWithBikesHost.IRoutingService">
	        <identity>
		        <dns value="localhost"/>
		    </identity>
		</endpoint>
		<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		  <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/RoutingWithBikesHost/RoutingService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors> <!-- SOAP -->
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors> <!-- REST -->
		  <behavior name="webHttp">
			<webHttp/>
		  </behavior>
	  </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<!--	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup> 
	-->

</configuration>
